body {
    padding: 20.24114424344214124em 13.3243441241341em;
    width: 3.54521421412434em;
    padding: 13.3243441241341em;
}

main {
    width: 3.54521421412434%;
    padding: 20.24114424344214124% 13.3243441241341%;
    padding: 13.3243441241341%;
}

